.header {
  background-color: rgb(224, 190, 36);
  padding: 5px;
}

.title {
  /* text-align: center; */
  display: inline-flex;
  padding-left: 5px;
  font-size: larger;
  margin: auto;
  color: #000;
}
