<!-- <ul class="people" *ngIf="people; else loading">
  <li *ngFor="let person of people" (click)="onSelect(person)">
    <mat-icon>person</mat-icon>
    <span class="name">{{ person.name }}</span>
  </li>
</ul> -->

<ng-template #loading>
  <mat-spinner class="loading" [diameter]="50"></mat-spinner>
</ng-template>


<mat-table [dataSource]="people" class="mat-elevation-z8" *ngIf="people; else loading">
  <ng-container matColumnDef="name">
    <!-- <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell> -->
    <mat-cell mat-cell *matCellDef="let element" (click)="onSelect(element)"><mat-icon>person</mat-icon> {{element.name}} </mat-cell>
  </ng-container>

  <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
  <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
