html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(26, 26, 26);
}

.loading {
  /* margin-top: 1em;
  margin-left: 50px; */
  margin: 1vw;
  color:#FFE81F;
}
